<%- include common/header.ejs %>

<%-include common/navbar.ejs %>

<!-- What is -->
<div id="dej" class="content-section content-section-c" style="border-top: 0">
	<div class="container">

		<h2>Petits dejeuners</h2>

		<p class="text-center"><br>Prêts pour des petits déjeuners renversants ? C'est maintenant !</p>

		<div class="row">
			<div class="col-md-6">
				<h4>Au menu</h4>
				<table class="table">
					<thead><tr>
						<th>Nom</th><th>Quantité</th><th></th>
						<% if (session.admin) { %><th>Admin</th> <% } %>
					</tr></thead>
					<tbody>
					<% menu.forEach (function (i) { %>
					<tr>
						<td><%= i.name %></td>
						<td><input type="number" min="1" max="5" value="1" class="form-control" id="menu-count-<%= i.id %>"></td>
						<td><button class="btn btn-sm btn-primary glyphicon glyphicon-plus" onclick="addToCart(<%= i.id %>)"></button></td>
						<% if (session.admin) { %>
						<td>
							<button class="btn btn-sm btn-warning glyphicon glyphicon-pencil" onclick="setEditItem(<%= i.id %>, '<%= i.name.replace ("'", "\\'") %>')"></button>
						</td>
						<% } %>
					</tr>
					<% }); %>
					</tbody>
				</table>

				<% if (session.admin) { %>
				<h4>Édition du menu</h4>
				<div>
					<input type="hidden" id="admin-edit-id" value="0">
					<div class="col-md-11"><input type="text" class="form-control" id="admin-edit-name" value=""></div>
					<div class="col-md-1"><button class="btn btn-sm btn-warning glyphicon glyphicon-pencil" onclick="editItem()"></button></div>
				</div>
				<div>
					<div class="col-md-11"><input type="text" class="form-control" id="admin-add-name" value=""></div>
					<div class="col-md-1"><button class="btn btn-sm btn-primary glyphicon glyphicon-plus" onclick="addToMenu()"></button></div>
				</div>
				<% } %>
			</div>
			<div class="col-md-6">
				<h4>Votre panier</h4>
				<table class="table">
					<thead><tr><th>Nom</th><th>Quantité</th><th></th></tr></thead>
					<tbody>
					<% order.forEach (function (i) { %>
					<tr>
						<td><%= i.name %></td>
						<td><%= i.count %></td>
						<td><button class="btn btn-sm btn-danger glyphicon glyphicon-trash" onclick="removeFromCart(<%= i.id %>)"></button></td></tr>
					<% }); %>
					</tbody>
				</table>

				<h4>Météoù ?</h4>
				<label for="text-loc">Position (là où le petit dej arrivera)</label>
				<div>
					<div class="col-md-11"><input type="text" value="<%= session.location %>" class="form-control" id="text-loc"></div>
					<div class="col-md-1"><button class="btn btn-sm btn-warning glyphicon glyphicon-pencil" onclick="setLocation()"></button></div>
				</div>

				<h4>Commentaires ?</h4>
				<div>
					<div class="col-md-11">
						<textarea class="form-control" id="comments" placeholder="Jsé pas moi, c'est ton petit dej pas le mien !"><%= comment %></textarea>
					</div>
					<div class="col-md-1"><button class="btn btn-sm btn-warning glyphicon glyphicon-pencil" onclick="setComment()"></button></div>
				</div>

				<h4>Heure</h4>
				<div>
					<div class="col-md-3">
						<div class="input-group">
							<input type="number" id="order-hour" class="form-control" placeholder="heure" min="0" max="12" value="<%= time.split(":")[0] %>">
							<span class="input-group-addon">h</span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="input-group">
							<input type="number" id="order-minute" class="form-control" placeholder="min" min="0" max="59" value="<%= time.split(":")[1] %>">
							<span class="input-group-addon">m</span>
						</div>
					</div>
					<div class="col-md-1"><button class="btn btn-sm btn-warning glyphicon glyphicon-pencil" value="<%= time %>" onclick="setOrderTime()"></button></div>
				</div>
			</div>
		</div>

		<% if (session.admin) { %>
		<div class="row">
			<div class="col-md-12">
				<h4>Toutes les commandes</h4>
				<table class="table">
					<thead><tr><th>Nom</th><th>Position</th><th>Items</th><th>Commentaires</th><th>Heure</th></tr></thead>
					<tbody>
					<% for (var uid in allOrders) { if (allOrders.hasOwnProperty (uid)) { var o = allOrders[uid]; %>
					<tr>
						<td><%= o.uname %></td>
						<td><%= o.uloc %></td>
						<td><%= o.desc %></td>
						<td><%= o.ucomment %></td>
						<td><%= o.utime %></td>
					</tr>
					<% }} %>
					</tbody>
				</table>
			</div>
		</div>
		<% } %>

	</div>
</div>

<script type="text/javascript" src="/static/js/breakfast.js"></script>
<% if (session.admin) { %>
<script type="text/javascript" src="/static/js/adminjs.js"></script>
<% } %>

<%- include common/footer.ejs %>
