<%- include common/header.ejs %>

<%-include common/navbar.ejs %>

<!-- What is -->
<div id="dej" class="content-section content-section-c" style="border-top: 0">
	<div class="container">

		<h2>Diner de promo</h2>

		<p class="text-center"><br>Prêts pour un dîner révolutionnaire mardi 5 avril ?</p>

		<p class="text-center"><br>Faites vite, il n'y a que 200 places au total !</p>

		<h3 class="text-center">Il reste <span id="spare-count">0</span> place(s)</h3>

		<p class="text-center"><br>
			<button id="btn-unregister-dinner" class="btn btn-primary <%= session.dinner ? '' : 'hidden' %>" onclick="unregisterToDinner()">Se désinscrire</button>
			<button id="btn-register-dinner" class="btn btn-primary <%= session.dinner ? 'hidden' : '' %>" onclick="registerToDinner()">S'inscrire</button>
		</p>

		<input type="hidden" id="is-registered" value="<%= session.dinner %>">

		<% if (session.admin) { %>
		<h4 class="text-center"><br><br>Inscrits</h4>
		<div class="row">
			<% users.forEach (function (a) { %>
			<div class="col-md-3">
				<% a.forEach (function (u) { %>
				<%= u.name %><br>
				<% }); %>
			</div>
			<% }); %>
		</div>
		<% } %>

	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/dinner.js"></script>

<%- include common/footer.ejs %>
