<%- include common/header.ejs %>

<!-- FullScreen -->
<div class="intro-header">
  <video id="bg-video" autoplay loop data-wow-delay="0.1s">
    <source src="/static/burri.mp4" type="video/mp4">
    <source src="/static/burri.webm" type="video/webm">
    Il serait temps de passer au XXIè siècle et d'avoir un navigateur qui sait lire les vidéos non ?
  </video>

  <div class="col-md-12 text-center chebedara-logo-down wow fadeIn" data-wow-delay="0.8s">
      <a href="#trombi"><img src="/static/img/logo-chebed.svg" alt="logo-chebedara"></a>
  </div>

  <div class="col-xs-12 text-center abcen1">
    <h1 class="wow fadeIn" data-wow-delay="0.4s">CHEBEDARA</h1>
    <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s"><s>La revolución no va a esperar</s></h3>
  </div>

  <div class="col-md-12 text-center abcen2">
    <h2 class="wow fadeIn countdown" data-wow-delay="1.0s">
      La revolucion no espera
    </h2>
  </div>
</div>

<%-include common/navbar.ejs %>

<%- include programme.ejs %>

<%- include trombi.ejs %>

<!-- What is -->
<div id="media" class="content-section content-section-a" style="border-top: 0">
  <div class="container-fluid">

    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
      <h2>Videos</h2>
      <p class="lead" style="margin-top:0">Parce qu'une révolution se doit d'être filmée sur Snapchat.</p>
    </div>

    <div class="row">
      <div class="col-md-6 ratio-16-9-mobile">
        <iframe width="640" height="360" class="wow fadeInLeft" src="https://www.youtube.com/embed/ndsjlM4w4Lk" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 ratio-16-9-mobile">
        <iframe width="640" height="360" class="wow fadeInRight" src="https://www.youtube.com/embed/3l4pOraHwYE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>


<%- include common/footer.ejs %>
