<!-- What is -->
<div id="programme" class="content-section content-section-c" style="border-top: 0">
    <div class="container">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>Le programme</h2>
            <p class="lead" style="margin-top:0">Ça peut servir de préparer la révolution...</p>
        </div>

        <div class="row"><p class="col-md-8 col-md-offset-2">
            En ces jours solennels, la vie des Télécommiens est rythmée par les cours, les vidéos et publications des
            listes, les binouzes à succès … et le site de Godefroy.<br>
            Mais pendant que chacun mène son train de vie, un commando hors-pair s’affaire, et le but qui les rassemble
            est celui de vous préparer un avenir meilleur. Ils vous montrent chaque jour leur motivation, et vous la
            montreront encore : découvrez leur programme de campagne !<br>
            Télecommiens, Télecommiennes, pour une campagne explosive, les Che Bedaras vous saluent !
        </p></div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="programme-flipbook-wrapper">
                    <div id="programme-flipbook">
                        <div class="hard">
                            <h2>[Programme]</h2>
                            <h2>[CheBedara]</h2>
                            <p><img src="/static/img/logo-chebed.svg"></p>
                        </div>
                        <div class="hard"></div>
                        <%
                        function page (title, body) { %> <div> <%
                            if (body) { %><h3><%= title %></h3><p><%= body %></p><% }
                            else {
                                title.forEach (function (p) { %><h3><%= p.title %></h3><p><%= p.body %></p><% });
                            }
                        %></div><% } %>

                        <%
                        [
                            {
                                title: "Le rapprochement des écoles",
                                body: "Nous souhaiterions organiser des soirées en partenariat avec les écoles voisines, telles que l’ESPCI, l’ESCP ou Agro ParisTech. L’ouverture de Télécom au sein de la communauté des Grandes Ecoles est primordiale à nos yeux."
                            }, {
                                title: "Un baptême de promotion",
                                body: "Nous organiserions un baptême de promotion destiné aux nainAs, nouveaux arrivés : une cérémonie serait organisée, au cours de laquelle l’école leur serait présentée sous tous ses angles, ainsi qu’à leur famille."
                            }, {
                                title: "Des liens renforcés avec les associations",
                                body: "Nous voudrions souder davantage les associations télécommiennes avec le BDE afin d’enrichir chacune des activités proposées au cours de l’année. Un rapprochement étroit serait effectué entre le BDE et Tivi+ : des teasers pourraient être faits pour chaque évènement majeur. La visibilité de Télécom à l’extérieur n’en serait qu’améliorée."
                            }, {
                                title: "Des casiers",
                                body: "Nous envisageons de mettre des casiers à disposition des Télécommiens ne résidant pas à la Maisel."
                            }, {
                                title: "Les semaines Athens",
                                body: "Afin de valoriser l’image de Télécom à l’étranger, nous aimerions que les étudiants participants à cette semaine Athens n’aient pas le temps de s’ennuyer. Au programme : des activités culturelles et festives durant toute la période."
                            }, {
                                title: "Les équipements du foyer",
                                body: "Après la rénovation du foyer, nous souhaiterions renouveler certains équipements du foyer, notamment les baby-foot et les billards."
                            }, {
                                title: "Les paiements en ligne et par carte bancaire pour régler les événements organisés par le BDE",
                                body: "Tout est dans le titre."
                            }, {
                                title: "Le WES et les Sophia",
                                body: "Nous voulons que les Télécommiens à Sophia puissent participer au WES avec nous."
                            }
                        ].forEach (function (p) {
                            if (p.body) page (p.title, p.body);
                            else page (p);
                        });
                         %>
                        <div class="hard"></div>
                        <div class="hard"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"><p class="lead col-md-8 col-md-offset-2 text-center">
            <br>Et en plus on a même fait un mode d'emploi !
        </p></div>

        <div class="row">
            <div class="col-md-6 ratio-16-9-mobile col-md-offset-3">
                <iframe width="640" height="360" class="wow fadeInDown" src="https://www.youtube.com/embed/_C0nWEi8VNM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
