<!-- What is -->
<div id="trombi" class="content-section content-section-b" style="border-top: 0">
	<div class="container">

		<div class="col-md-6 col-md-offset-3 text-center wrap_title">
			<h2>La liste</h2>
			<p class="lead" style="margin-top:0">Parce que c'est pas tout de faire la révolution, mais c'est plus sympa à plusieurs&nbsp;!</p>
		</div>

		<% function person (name, tof, title, size) { size = size || 4; %>
		<div class="col-sm-<%- size %> wow fadeInDown text-center">
			<img class="profile-pic" src="/static/img/tofs/<%- tof %>.jpg" alt="Tof de <%- name %>">
			<h3><%- name %></h3>
			<p class="lead"><%- title %></p>
		</div>
		<% } %>

		<div class="row">
			<div class="col-sm-6 wow fadeInLeft text-center">
				<img class="profile-pic" src="/static/img/tofs/kei-sa.jpg" alt="Tof de Kei-Sa">
				<h3>Kei-Saburo Clochard, El Kei</h3>
				<p class="lead">Président, WEI - Agro-Télécom - Campagne</p>
			</div>
			<div class="col-sm-6 wow fadeInRight text-center">
				<img class="profile-pic" src="/static/img/tofs/nawel.jpg" alt="Tof de Nawel">
				<h3>Colonel Nawel Oreal</h3>
				<p class="lead">Vice-prez, WEI - Déco - Campagne</p>
			</div>
		</div><!-- /.row -->

		<div class="row">
			<% person("Generale Camila", "camille", "Sec Gé, WEI - WEFA - Agenda");
			person ("Martin &laquo;&nbsp;La Pinata&nbsp;&raquo;", "martin", "Trésorier, Assurance(tourix)");
			person ("Piotr &laquo;&nbsp;El Polaco&nbsp;&raquo;", "piotr", "Vice-trez, WEFA, Yearbook");
			%>
		</div>

		<div class="row">
			<% person ("Paul Giorgio", "paul", "WES - Insomnia - Alumni - Comité RAB", 3);
			person ("Guillaume Lagrange", "guillaume", "WES - Pots - Réserve alcool", 3);
			person ("Arnaud &laquo;&nbsp;El Trago&nbsp;&raquo;", "arnaud", "WES - Binouze - Saclay", 3);
			person ("Regis &laquo;&nbsp;Engelos&nbsp;&raquo;", "regis", "WES - Salsa - Inté étrangers - Prévention Alcool", 3);
			%>
		</div>

		<div class="row">
			<% person("Jeremy &laquo;&nbsp;Yeremstar&nbsp;&raquo;", "jeremy", "WEE - Agro-Télécom", 3);
			person ("Justine &laquo;&nbsp;La Justicia&nbsp;&raquo;", "justine", "WEE - Insomnia - Autres BDE", 3);
			person ("Ariane &laquo;&nbsp;La Barista&nbsp;&raquo;", "ariane", "Rock - Foyer - Infographie", 3);
			person ("Loic &laquo;&nbsp;El Barbudo&nbsp;&raquo;", "loic", "Rock - Foyer", 3); %>
		</div>

		<div class="row">
			<% person ("Adrien &laquo;&nbsp;Chagas&nbsp;&raquo;", "adrien-l", "Repas de promo - Comité RAB - CHS");
			person ("Adrien &laquo;&nbsp;El Cocinero&nbsp;&raquo;", "adrien-c", "Repas de promo - Pots - Jeudi Apéro");
			person ("Charles &laquo;&nbsp;El Nino&nbsp;&raquo;", "charles", "Insomnia - Pots - Parrainage"); %>
		</div>

		<div class="row">
			<% person ("David &laquo;&nbsp;El Che-Nois&nbsp;&raquo;", "david", "RE - ParisTech - Autres BDE", 3);
			person ("Ilyass &laquo;&nbsp;El Manso&nbsp;&raquo;", "ilyass", "RE - Campagne - Inté étrangers", 3);
			person ("Francois &laquo;&nbsp;El Cigarierro&nbsp;&raquo;", "francois-d", "Courrier - WEI", 3);
			person ("Francois &laquo;&nbsp;El Videasto&nbsp;&raquo;", "francois-r", "Infographie - Textile - Parrainage", 3);
			%>
		</div>

		<div class="row">
			<% person ("Arthur &laquo;&nbsp;El Mojito&nbsp;&raquo;", "arthur", "Info - Salsa - Reprographie", 6);
			person("Antoine &laquo;&nbsp;El Machistador&nbsp;&raquo;", "antoine", "Communication - Mail - BDE - WEED", 6);
			%>
		</div>

	</div>
</div>
