@font-face {
	font-family: 'cartonregular';
	src: url('../fonts/carton/carton-webfont.eot');
	src: url('../fonts/carton/carton-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/carton/carton-webfont.woff2') format('woff2'),
	url('../fonts/carton/carton-webfont.woff') format('woff'),
	url('../fonts/carton/carton-webfont.ttf') format('truetype'),
	url('../fonts/carton/carton-webfont.svg#cartonregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'd-day-stencil';
	src: url('../fonts/d-day-stencil/d-day-stencil-webfont.eot');
	src: url('../fonts/d-day-stencil/d-day-stencil-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/d-day-stencil/d-day-stencil-webfont.woff2') format('woff2'),
	url('../fonts/d-day-stencil/d-day-stencil-webfont.woff') format('woff'),
	url('../fonts/d-day-stencil/d-day-stencil-webfont.ttf') format('truetype'),
	url('../fonts/d-day-stencil/d-day-stencil-webfont.svg#d_day_stencilregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'learchitectregular';
	src: url('../fonts/le-architect/learchitect-webfont.eot');
	src: url('../fonts/le-architect/learchitect-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/le-architect/learchitect-webfont.woff2') format('woff2'),
	url('../fonts/le-architect/learchitect-webfont.woff') format('woff'),
	url('../fonts/le-architect/learchitect-webfont.ttf') format('truetype'),
	url('../fonts/le-architect/learchitect-webfont.svg#learchitectregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'top_secretregular';
	src: url('../fonts/top-secret/top_secret-webfont.eot');
	src: url('../fonts/top-secret/top_secret-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/top-secret/top_secret-webfont.woff2') format('woff2'),
	url('../fonts/top-secret/top_secret-webfont.woff') format('woff'),
	url('../fonts/top-secret/top_secret-webfont.ttf') format('truetype'),
	url('../fonts/top-secret/top_secret-webfont.svg#top_secretregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'americantypewriter';
	src: url('../fonts/americantypewriter/americantypewriter.eot') format('embedded-opentype'),
		url('../fonts/americantypewriter/americantypewriter.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
