<div id="alert-container">
	<%
	if (typeof session.message !== 'undefined' && session.message !== null) {
	%>
	<div class="alert alert-<%= session.message.type %> alert-dismissable auto-dismiss">
		<strong><%= session.message.title %></strong><br>
		<%= session.message.message %>
	</div>
	<%
		  session.message = null;
	}
	%>
</div>
