
<%- include templates.ejs %>

<!-- JavaScript -->
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/stickUp.min.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/turn.min.js"></script>
<!-- Smoothscroll -->
<script type="text/javascript" src="/static/js/jquery.corner.js"></script>
<script src="/static/js/wow.min.js"></script>
<script>
	new WOW().init();
</script>
<script src="/static/js/code.min.js"></script>
<script src="/static/js/blockrain.jquery.min.js"></script>
<script type="text/javascript">
	var code = new Code (function () {
		$(".game").css('display', 'block').removeClass("out").blockrain ().delay(300).blockrain('start');
	});
	$(document).keydown (function (e) {
		if (e.keyCode == 27) $(".game").css('display', 'none').addClass("out").delay(300).blockrain('gameover');
	});
</script>
</body>

</html>
