<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="CheBedara">
	<meta name="author" content="">

	<title>CheBedara</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom Google Web Font -->
	<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

	<!-- Owl-Carousel -->
	<link href="/static/css/custom.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/animate.css" rel="stylesheet">

	<!-- Custom CSS-->
	<link href="/static/css/general.css" rel="stylesheet">

	<link href="/static/css/fonts.css" rel="stylesheet">

	<link href="/static/css/blockrain.css" rel="stylesheet">

	<script src="/static/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
	<script src="/static/js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="/static/js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="/static/js/html5shiv.js"></script>
	<![endif]-->

</head>

<body id="home">

<%- include alert.ejs %>

<div class="game out"></div>
