<!-- NavBar-->
<nav class="navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">CHEBEDARA</a>
		</div>

		<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
			<ul class="nav navbar-nav">

				<li class="menuItem"><a href="#trombi">La Liste</a></li>
				<li class="menuItem"><a href="#media">Médiathèque</a></li>
				<li class="menuItem"><a href="/petits-dej">Petit-déjeuner</a></li>
				<li class="menuItem"><a href="/diner">Dîner</a></li>
				<li class="menuItem"><a>|</a></li>
				<% if (session.id) { %>
				<li class="menuItem"><a><%= session.name %></a></li>
				<li class="menuItem"><a href="/logout">Déconnexion</a></li>
				<% } else { %>
				<li class="menuItem"><a href="#register" id="register-btn">Inscription</a></li>
				<li class="menuItem"><a href="#login" id="login-btn">Connexion</a></li>
				<% } %>
			</ul>
		</div>

	</div>
</nav>
