<div class="hidden" id="tpl-popover-register">
	<div class="row" id="reg-cont">
		<label class="col-md-12" for="reg-name">Nom</label>
		<div class="col-md-12" id="reg-name-cont">
			<input type="text" class="form-control" id="reg-name" placeholder="Chuck Norris">
			<span class="help-block" id="reg-name-help"></span>
		</div>
		<label class="col-md-12" for="reg-email">Email (en @telecom-paristech.fr OBLIGATOIREMENT)</label>
		<div class="col-md-12" id="reg-email-cont">
			<input type="email" class="form-control" id="reg-email" placeholder="chuck.norris@telecom-paristech.fr" value="@telecom-paristech.fr">
			<span class="help-block" id="reg-email-help"></span>
		</div>
		<label class="col-md-12" for="reg-password">Mot de passe (8 caractères minimum)</label>
		<div class="col-md-12" id="reg-password-cont">
			<input type="password" class="form-control" id="reg-password" placeholder="#GET REKT !!!">
			<span class="help-block" id="reg-password-help"></span>
		</div>
		<div class="col-md-12"><button class="btn btn-primary btn-sm pull-right" onclick="doRegister()">Valider</button></div>
	</div>
</div>
<div class="hidden" id="tpl-popover-login">
	<form method="post" action="/login" class="row">
		<div class="col-md-12"><input type="email" class="form-control" name="email" placeholder="Adresse email"></div>
		<div class="col-md-12"><input type="password" class="form-control" name="password" placeholder="Mot de passe"></div>
		<div class="col-md-12"><input type="submit" value="Connexion" class="pull-right btn btn-sm btn-primary"></div>
	</form>
</div>
